/* Body reset */
body {
  font: 16px/1.5 Tahoma, sans-serif, Arial;
  padding:0;
  margin:0;
  background-color: #E6E6E6;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button {
    border: 3px solid #e8491d;
    border-radius: 10px;
    color: #e8491d;
    font-weight: bold;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #e8491d;
    color: white;
}

/* Header */
header {
  background-color: #5C5C5C;
  color: #ffffff;
  padding-top: 35px;
  min-height: 90px;
  border-bottom: #e8491d 3px solid;
}

#icoon {
  width: 50px;
  height: 50px;
  float: left;
}

header .highlight{
  color: #e8491d;
  font-weight: bold;
}

header .current a{
  background-color: #e8491d;
}

header #merknaam {
  float: left;
  margin-left: 20px;
}

header #merknaam h1 {
  margin: 0;
}

nav {
  position: absolute;
  margin-left: 45%;
  margin-top: 10px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline-block;
  float: left;
  margin-right: 2px;
}
li a {
  display: block;
  min-width: 140px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
}
li:hover a{
  background: #e8491d;
}
li:hover ul li a{
  background: #E6E6E6;
  color: #2f3036;
  height: 30px;
  line-height: 30px;
}
li:hover ul li a:hover{
  background: #e8491d;
  color: #ffffff;
}
li ul{
  display: none;
}
li ul li{
  display: block;
  float: none;
}

li ul li a{
  width: auto;
  min-width: 140px;
  margin-right: -2px;
}

ul li a:hover + .hidden, .hidden:hover {
  display: block;
}

footer {
  padding: 20px;
  background-color: #e8491d;
  color: #ffffff;
  text-align: center;
}

#main-about {
  text-align: center;
  background:url("../img/aboutbackground-1.jpg") no-repeat;
  background-attachment: fixed;
  display: block;
  min-height: 1000px;
}

.tekstvak{
  display: inline-block;
  color: #fff;
  font-size: 20px;
  width: 460px;
  margin-top: 50px;
  margin-right: 10px;
  vertical-align: top;
  padding: 20px 10px;
}

.competentie {
display: inline-block;
color: #fff;
width: 370px;
height: auto;
padding: 50px 20px;
border: 3px solid #e8491d;
border-radius: 100%;
font-size: 30px;
font-weight: bold;
}

#interactief {
  background: url("../img/interactive.jpg") no-repeat 0 -50px;
  background-size: cover;
}

#creatief {
  background: url("../img/creative.jpg") no-repeat 0 -90px;
  background-size: cover;
}

#simpel {
  background: url("../img/simple.jpg") no-repeat 0 -30px;
  background-size: cover;
}

#who {
  margin: 0;
  padding: 20px;
  text-align: center;
  vertical-align: top;
  font-weight: bold;
  color: #fff;
}

#who h1 {
  font-size: 40px;
}

#who .quotes {
  margin: 0;
  width: 100%;
  padding: 30px 0;
  vertical-align: middle;
  display: inline-block;
}

#who #quote2 {
  border-top: 3px solid #e8491d;
}

#who #fotobert {
width: 150px;
height: 150px;
border-radius: 100%;
border: 1px solid black;
float: left;
margin: 0 10px;
}

#who #fotodanny {
width: 150px;
height: 150px;
border-radius: 100%;
border: 1px solid black;
float: right;
margin: 0 10px;
}

#who blockquote {
    margin: 20px;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

#who blockquote::before, #who blockquote::after {
    width: 60px;
    height: 60px;
    font-size: 60px;
}

#who blockquote::before {
    content: "\201C";
}
#who blockquote::after {
    content: "\201D";
}

#why {
  margin: 0;
  padding: 20px;
  text-align: center;
  vertical-align: top;
  color: #fff;
  border-top: 3px solid #e8491d;
}

#why h1 {
  font-size: 40px;
  font-weight: bold;
}

#why p {
  font-size: 20px;
}

#how {
  margin-top: 50px;
  border-top: 3px solid #e8491d;
}

#how h1{
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}
